.service-img, .user-img {
  background-size: cover;
  background-position: top center;
  margin: 5% 0 5%;
  padding-bottom: 75%;
  text-align: center;
}

.picture-overlay {
  background-color: rgba(250, 250, 250, .5);
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
}