.profile-bio-img {
  background-position: top center;
  background-size: cover;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.border-col {
  border-left: 3px solid #e0d2e4;
}

i.fa.profile-icon {
  font-size: 3em;
  color: #e0d2e4;
  padding: 10px 20px 10px 0;
}

.profile-section {
  padding: 10px 0 10px 70px;
}

.row {
  margin-bottom: 3%;
}

.center {
  text-align: center;
}