@import '../shared.scss';

html {
  min-height: 100%;
  position: relative;
}

html, #root {
  background-color: #fafafa;
}

body {
  font-family: $primary-font;
  letter-spacing: .7px;
  line-height: 160%;
}

h1, h2, h3, h4 {
  font-family: $title-font;
  font-weight: 600
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div#wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 60%;
  padding: 75px;
}

a {
  color: $primary-pink;
  &:hover {
    color: $primary-pink;
    opacity: .6;
    text-decoration: none;
  };
  &:focus, &:visited {
    color: $primary-pink;
  }
}

.quote-text {
  font-style: italic;
}

.center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}