@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
.footer {
  background-color: #fff;
  border-top: 2px solid #e7e7e7;
  bottom: 0;
  height: 55px;
  margin: 0 auto;
  position: absolute;
  width: 100%; }
