@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
div.home-background {
  background: #fff url("https://static.pexels.com/photos/297648/pexels-photo-297648.jpeg") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1011px rgba(240, 240, 240, 0.6);
  height: 100vh;
  max-width: 100%;
  opacity: .8; }
  div.home-background h2 {
    color: #db7b7b;
    font-size: 4em;
    margin-top: 0;
    padding-bottom: 6px;
    padding-top: 300px;
    text-align: center; }
  div.home-background .home-body {
    color: #000;
    font-size: 1.3em;
    line-height: 170%;
    margin: 0 auto 25px;
    max-width: 38%; }

.btn-announcement {
  -webkit-transition: background-color 2s;
  background-color: #db7b7b;
  border: 1px solid #f69d9d;
  border-radius: 10px;
  color: #fff;
  display: block;
  font: 600 1.8em/100% "Lato", sans-serif;
  margin: 0 auto;
  padding: 25px 100px; }
  .btn-announcement:hover {
    background-color: #f69d9d;
    transition: background-color 1s ease-in-out; }
