@import '../shared.scss';

.header-nav {
  background-color: #fff;
  border-bottom: 2px solid $primary-green;
  margin: 0;
}

.container {
  width: 99%;
}

.navbar-nav>.active>a {
  &:focus, &:active {
    background: none;
  }
}

a.navbar-brand {
  font: 300 1.7em $logo-font;

  .bold {
    font-weight: 400;
  }
}