@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
.header-nav {
  background-color: #fff;
  border-bottom: 2px solid #80cbc6;
  margin: 0; }

.navbar-nav > .active > a:focus, .navbar-nav > .active > a:active {
  background: none; }

a.navbar-brand {
  font: 300 1.7em "Josefin Sans", sans-serif; }
  a.navbar-brand .bold {
    font-weight: 400; }
