@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script");
html {
  min-height: 100%;
  position: relative; }

html, #root {
  background-color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .7px;
  line-height: 160%; }

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

div#wrapper {
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 60%;
  padding: 20px 75px; }

a {
  color: #db7b7b; }
  a:hover {
    color: #db7b7b;
    opacity: .6;
    text-decoration: none; }
  a:focus, a:visited {
    color: #db7b7b; }

.quote-text {
  font-style: italic; }

.center, .service-img, .user-img {
  text-align: center; }

.margin-center {
  margin: 0 auto; }

@media (min-width: 1400px) {
  .container {
    width: 1370px; } }

@media (min-width: 1600px) {
  .container {
    width: 1570px; } }

@media (min-width: 1800px) {
  .container {
    width: 1770px; } }

@media (min-width: 1900px) {
  .container {
    width: 1870px; } }

.service-img, .user-img {
  background-size: cover;
  background-position: top center;
  margin: 5% 0 5%;
  padding-bottom: 75%; }

div.card-title {
  color: #eaeaea;
  font: 600 1.5em/100% "Open Sans", sans-serif;
  letter-spacing: 4px;
  padding-top: 10px;
  text-shadow: 1px 1px 4px #585757;
  text-transform: lowercase; }

.picture-overlay {
  -webkit-transition: background-color 2s;
  background-color: rgba(250, 250, 250, 0.5);
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999; }
  .picture-overlay:hover {
    background-color: rgba(250, 250, 250, 0.2);
    transition: background-color .5s ease-in-out; }

.service-users h2 {
  color: #4c4c4c;
  margin-top: 0; }
