@import '../shared.scss';
@import './App.scss';

.service-img, .user-img {
  @extend .center;
  background-size: cover;
  background-position: top center;
  margin: 5% 0 5%;
  padding-bottom: 75%;
}

div.card-title {
  color: #eaeaea;
  font: 600 1.5em/100% $primary-font;
  letter-spacing: 4px;
  padding-top: 10px;
  text-shadow: 1px 1px 4px #585757;
  text-transform: lowercase;
}

.picture-overlay {
  -webkit-transition: background-color 2s;
  background-color: rgba(250, 250, 250, .5);
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;

  &:hover {
    background-color: rgba(250, 250, 250, .2);
    transition: background-color .5s ease-in-out;
  }
}

.service-users h2 {
  color: $dark-gray;
  margin-top: 0;
}