.service-img, .user-img {
  background-size: cover;
  background-position: top center;
  margin: 5% 0 5%;
  padding-bottom: 75%;
  text-align: center; }

div.card-title {
  color: #eaeaea;
  font: 600 1.5em/100% 'Open Sans', sans-serif;
  letter-spacing: 4px;
  padding-top: 10px;
  text-shadow: 1px 1px 4px #585757;
  text-transform: lowercase; }

.picture-overlay {
  -webkit-transition: background-color 2s;
  background-color: rgba(250, 250, 250, 0.5);
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999; }

.picture-overlay:hover {
  background-color: rgba(250, 250, 250, 0.2);
  transition: background-color .5s ease-in-out; }
