@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script");
html {
  min-height: 100%;
  position: relative; }

html, #root {
  background-color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .7px;
  line-height: 160%; }

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

div#wrapper {
  margin: 0 auto;
  max-width: 60%;
  padding: 20px 75px; }

a {
  color: #db7b7b; }
  a:hover {
    color: #db7b7b;
    opacity: .6;
    text-decoration: none; }
  a:focus, a:visited {
    color: #db7b7b; }

.quote-text {
  font-style: italic; }

.center {
  text-align: center; }

.margin-center, .form-field-check {
  margin: 0 auto; }

form {
  margin: 0 auto;
  width: 55%; }

.form-field {
  margin-bottom: 2%; }

.form-field input {
  padding-left: 22px;
  width: 100%; }
  .form-field input:not([type="checkbox"]) {
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 3%; }
  .form-field input[type=textarea] {
    padding-bottom: 130px;
    padding-top: 30px; }

.form-field-check input[type=checkbox] {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  height: 20px;
  margin: 5px 25px 10px 10px;
  outline: none;
  vertical-align: middle;
  width: 20px; }
  .form-field-check input[type=checkbox]:hover, .form-field-check input[type=checkbox]:checked {
    background-color: #d6eff7;
    border: none; }

.form-action {
  margin-top: 3%; }

.form-error {
  color: #d41010; }

button.btn-form {
  -webkit-transition: background-color 2s;
  background-color: #db7b7b;
  border: 1px solid #f69d9d;
  border-radius: 5px;
  color: #fafafa;
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 60%; }
  button.btn-form:hover {
    background-color: #f69d9d;
    transition: background-color 1s ease-in-out; }

.user-form label {
  font: 300 1.2em/100% "Lato", sans-serif;
  margin-bottom: 3%; }
