@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script|Josefin+Sans:100,300,400,600,700");
html {
  min-height: 100%;
  position: relative; }

html, #root {
  background-color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .7px;
  line-height: 160%; }

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

div#wrapper {
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 60%;
  padding: 20px 75px; }

a {
  color: #db7b7b; }
  a:hover {
    color: #db7b7b;
    opacity: .6;
    text-decoration: none; }
  a:focus, a:visited {
    color: #db7b7b; }

.quote-text {
  font-style: italic; }

.center {
  text-align: center; }

.margin-center, .form-field-check {
  margin: 0 auto; }

button:focus {
  outline: none; }

form {
  margin: 0 auto;
  width: 65%; }

.form-field {
  margin-bottom: 2%; }

.form-field input {
  padding-left: 22px;
  padding-right: 22px;
  width: 100%; }
  .form-field input:not([type="checkbox"]), .form-field textarea {
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 3%; }

.form-field textarea {
  overflow: hidden;
  padding: 22px 22px 130px 22px;
  width: 100%; }

.user-form input::-webkit-input-placeholder {
  color: #d22626; }

.user-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #d22626; }

.user-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #d22626; }

.user-form input:-moz-placeholder {
  /* Firefox 18- */
  color: #d22626; }

.form-field-check input[type=checkbox] {
  float: right; }

.form-field-check .col-sm-4 {
  padding-left: 0;
  padding-right: 0; }

.form-field-check input[type=checkbox] {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  height: 20px;
  margin: 5px 25px 10px 10px;
  outline: none;
  vertical-align: middle;
  width: 20px; }
  .form-field-check input[type=checkbox]:hover, .form-field-check input[type=checkbox]:checked {
    background-color: #d6eff7; }

.form-action {
  margin-top: 4%; }

button.btn-form {
  -webkit-transition: background-color 2s;
  background-color: #db7b7b;
  border: 1px solid #f69d9d;
  border-radius: 5px;
  color: #fafafa;
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 290px; }
  button.btn-form:hover {
    background-color: #f69d9d;
    transition: background-color 1s ease-in-out; }
  button.btn-form:focus, button.btn-form:active {
    border-color: #f69d9d; }

.user-form h2 {
  color: #4c4c4c;
  margin-bottom: 6%;
  margin-top: 0; }

.user-form label {
  font: 300 1.2em/100% "Lato", sans-serif;
  margin-bottom: 3%; }

.form-error {
  color: #d22626; }

::-webkit-input-placeholder {
  color: #4c4c4c;
  position: relative;
  white-space: pre-line; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c;
  position: relative;
  white-space: pre-line; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4c4c4c;
  position: relative;
  white-space: pre-line; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c;
  position: relative;
  white-space: pre-line; }

button.delete {
  background-color: #d22626;
  margin-top: 15px; }
  button.delete:hover {
    opacity: .7; }
