.profile-bio-img {
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  height: 200px;
  width: 200px; }

.border-col {
  border-left: 3px solid #d6eff7; }

i.fa.profile-icon {
  font-size: 3em;
  color: #d6eff7;
  padding: 10px 20px 10px 0; }

.profile-section {
  padding: 10px 0 10px 70px; }

div.profile-header {
  margin-bottom: 6%; }

.row {
  margin-bottom: 3%; }

.row h1 {
  font-family: 'Kaushan Script';
  font-size: 3em;
  margin-bottom: 0; }

.row h2 {
  margin-top: 0; }
