@import '../shared.scss';
@import './App.scss';

form {
  margin: 0 auto;
  width: 55%;
}

.form-field {
  margin-bottom: 2%;
}

.form-field input {
  padding-left: 22px;
  padding-right: 22px;
  width: 100%;

  &:not([type="checkbox"]) {
    background-color: $form-background;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 3%;
  }
}

.form-field textarea {
  @extend input:not([type="checkbox"]);
  overflow: hidden;
  padding: 22px 22px 130px 22px;
  width: 100%;
}

.user-form input::-webkit-input-placeholder {
  color: $primary-red;
}

.user-form input::-moz-placeholder { /* Firefox 19+ */
  color: $primary-red;
}
.user-form input:-ms-input-placeholder { /* IE 10+ */
  color: $primary-red;
}
.user-form input:-moz-placeholder { /* Firefox 18- */
  color: $primary-red;
}

.form-field-check {
  @extend .margin-center;
  
  input[type=checkbox] {
    float: right;
  }

  .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-field-check input[type=checkbox] {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid $form-background;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  height: 20px;
  margin: 5px 25px 10px 10px;
  outline: none;
  vertical-align: middle;
  width: 20px;

  &:hover, &:checked {
    background-color: $primary-blue;
    border: none;
  }
}

.form-action {
  margin-top: 4%;
}

button.btn-form {
  -webkit-transition: background-color 2s;
  background-color: $primary-pink;
  border: 1px solid $secondary-pink;
  border-radius: 5px;
  color: #fafafa;
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 290px;
  
  &:hover {
    background-color: $secondary-pink;
    transition: background-color 1s ease-in-out;
  }

  &:focus, &:active {
    border-color: $secondary-pink;
  }
}

.user-form {
  h2 {
    color: $dark-gray;
    margin-bottom: 6%;
    margin-top: 0;
  }

  label {
    font: 300 1.2em/100% $title-font;
    margin-bottom: 3%;
  }
}