@import '../shared.scss';
@import './UserForm.scss';

::-webkit-input-placeholder {
  color: $dark-gray;
  position:relative;
  white-space:pre-line;  
}

::-moz-placeholder { /* Firefox 19+ */
  color: $dark-gray;
  position:relative;
  white-space:pre-line;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-gray;
  position:relative;
  white-space:pre-line;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-gray;
  position:relative;
  white-space:pre-line;
}

button.delete {
  background-color: $primary-red;
  margin-top: 15px;

  &:hover {
    opacity: .7;
  }
}