@import '../shared.scss';

.profile-bio-img {
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

.border-col {
  border-left: 3px solid $primary-blue;
}

i.fa.profile-icon {
  font-size: 3em;
  color: $primary-blue;
  padding: 10px 20px 10px 0;
}

.profile-section {
  padding: 10px 0 10px 70px;
}

div.profile-header {
  margin-bottom: 6%;
}

.row {
  margin-bottom: 3%;
  
  &h1 {
    font-family: $cursive-font;
    font-size: 3em;
    margin-bottom: 0;
  }

  &h2 {
    margin-top: 0;
  }
}