html {
  min-height: 100%;
  position: relative;
}

html, #root {
  background-color: whitesmoke;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div#wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 60%;
  padding: 50px;
}