field {
  text-align: center;
}

:-moz-placeholder {
  padding: 22px;
}

::-ms-input-placeholder {
  padding: 22px;
}

::-moz-placeholder {
  padding: 22px;
}

::-webkit-input-placeholder {
  padding: 22px;
}

.form-field input:not([type="checkbox"]) {
  background-color: #e8e8e8;
  border: none;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 3%;
  width: 50%;
}

.form-field-check {
  margin: 0 auto;
  width: 50%;
}

.form-field-check input[type=checkbox] {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  height: 20px;
  margin: 5px 25px 10px 10px;
  outline: none;
  vertical-align: middle;
  width: 20px;
}
  .form-field-check input[type=checkbox]:hover {
    background-color: #db7b7b;
    border: none;
  }
  .form-field-check input[type=checkbox]:checked {
    background-color: #db7b7b;
    border: none;
  }