@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script');

$primary-font: 'Open Sans', sans-serif;
$title-font: 'Lato', sans-serif;
$primary-blue: #d6eff7;
$primary-pink: #db7b7b;
$primary-green: #80cbc6;

