@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Kaushan+Script');

$primary-font: 'Open Sans', sans-serif;
$title-font: 'Lato', sans-serif;
$cursive-font: 'Kaushan Script', sans-serif;
$primary-blue: #d6eff7;
$primary-pink: #db7b7b;
$primary-green: #80cbc6;
$secondary-pink: #f69d9d;
$form-background: #e8e8e8;
$dark-gray: #4c4c4c;
$primary-red: #e02323;

